@model List<Product>
@{
}

<h2 class="text-center mb-5">list of Person</h2>

<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" asp-controller="Products" asp-action="Create">Create</a>
    </div>
    <div class="col">

    </div>

</div>





<table class="table">
    <thead>
        <tr>
            <td>ID</td>
            <td>NAME</td>
            <td>FECHA</td>
            <td>CLAVE</td>
            <td>ACTION</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Fecha.ToString("MM/dd/yyyy")</td>
                <td>@product.Clave</td>
                <td style="white-space:nowrap">
                    <a class="btn btn-primary btn-sm" asp-controller="Products" asp-action="Edit"
                        asp-route-id="@product.Id">Edit</a>
                    <a class="btn btn-danger btn-sm" asp-controller="Products" asp-action="Delete"
                       asp-route-id="@product.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>





